
body{
    background-color: #B3541E;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
    text-align: center;
}
h1{
    margin: 75px 0;
    font-size: 50px;
    color: #FFFFE8;
    letter-spacing: 2px;
    transition: 10s;
}

h1:hover{
    letter-spacing: 20px;
}
.watch{
    display: flex;
    flex-wrap: nowrap;
}

button{
    margin:100px 50px;
    background-color: #FAAB78;
    color: #FFFFE8;
    width: 6.5rem;
    height: 3.3rem;
    font-size: 20px;
    border: 2px solid;
    border-radius: 15px;
    box-shadow: 5px 5px lavender;
    transition: 1s;
}

button:hover{
    color: #FFFFE8;
    background-color: #FAAB78;
    border: 2px #B3541E solid;
    box-shadow: none;
}

.time{
    margin: auto;
    width: 30%;
    background-color: lightblue;
    letter-spacing: 10px;
    padding: 20px 0;
    font-size: 35px;
    color: #EEEEEE;
    border: 4px white solid;
    border-radius: 40px;
}

@media only screen and (max-width : 600px) {
    .time{
        margin: auto;
        width: 50%;
        background-color: lightblue;
        letter-spacing: 2px;
        padding: 10px 0;
        font-size: 75%;
        color: #EEEEEE;
        border: 2px white solid;
        border-radius: 30px;
    }

    button{
        margin:50px 10px;
        background-color: #FAAB78;
        color: #FFFFE8;
        width: 3.5rem;
        height: 1.7rem;
        font-size: 5px;
        border: 2px solid;
        border-radius: 7px;
        box-shadow: 2px 2px lavender;
        transition: 1s;
    }
    button:hover{
        color: #FFFFE8;
        background-color: #FAAB78;
        border: 2px #B3541E solid;
        box-shadow: none;
    }
}
